<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="user" type="com.theIronYard.entity.User"*/-->
<!--/*@thymesVar id="editUser" type="com.theIronYard.entity.User"*/-->
<head>
    <title>User Form</title>
    <link th:href="@{css/styles.css}" href="../static/css/styles.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<h1>Animal Shelter</h1>

<nav>
    <ul>
        <li><a href="list.html" th:href="@{/}">List Animals</a></li>
        <li><a href="addAnimal.html" th:href="@{addAnimal}">Add an Animal</a></li>
        <li><a href="type.html" th:href="@{type}">Manage Animal Types</a></li>
        <li><a href="breed.html" th:href="@{breed}">Manage Animal Breeds</a></li>
        <li th:if="${user} == null"><a href="login.html" th:href="@{login}">Login</a></li>
        <li th:if="${user} != null"><a href="login.html" th:href="@{logout}">Logout</a></li>
        <li><a href="registration.html" th:href="@{registration}">Add a User</a></li>
        <li><a href="users.html" th:href="@{users}">List Users</a></li>
    </ul>
</nav>

<p>All fields are required</p>

<form id="passwordForm" action="registration.html" th:action="@{registration}" th:object="${user}" method="post">

    <input type="hidden" name="id" th:value="${user?.id}" />

    <div>
        <label for="name" >
            Name:
        </label>
        <input type="text" name="name" id="name" value="" th:value="${user?.name}"/>
        <ul class="error"><li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li></ul>
    </div>

    <div>
        <label for="email" >
            Email:
        </label>
        <input type="text" name="email" id="email" value="" th:value="${user?.email}"/>
        <ul class="error"><li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li></ul>
    </div>

    <div th:if="${user} != null">
        <label for="oldPassword">
            Old Password:
        </label>
        <input type="password" name="oldPassword" id="oldPassword" />
        <ul class="error"><li th:each="err : ${#fields.errors('password')}" th:text="${err}"></li></ul>
    </div>
    <div>
        <label for="password" >
            New Password:
        </label>
        <input type="password" name="password" id="password" />
        <ul class="error"><li th:each="err : ${#fields.errors('password')}" th:text="${err}"></li></ul>
    </div>
    <div>
        <label for="confirmPassword" >
            Confirm Password:
        </label>
        <input type="password" name="confirmPassword" id="confirmPassword" />
        <ul class="error"><li th:each="err : ${#fields.errors('password')}" th:text="${err}"></li></ul>
    </div>
    <div>

    </div>

    <button>Save User</button>
</form>

</body>


</html>