<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="types" type="java.util.List<Type>"*/-->
<!--/*@thymesVar id="type" type="com.theIronYard.entity.Type"*/-->
<head>
    <title>Manage Animal Types</title>
    <link th:href="@{css/styles.css}" href="../static/css/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<h1>Chris, Dave and Jeff's Animal Shelter</h1>
<nav th:replace="fragments/navBar :: navBar">
    <ul>
        <li><a href="list.html" th:href="@{/}">List Animals</a></li>
        <li><a href="addAnimal.html" th:href="@{addAnimal}">Add an Animal</a></li>

    </ul>
</nav>


<h2>Manage Animal Types</h2>
<table>
    <tr>
        <th>Type</th>
        <th></th>
    </tr>
    <tr th:each="type : ${types}">
        <td th:text="${type.name}">
            Cat
        </td>
        <td>
            <a href="type.html" th:href="@{/deleteType(id=${type.id})}">
                <img class="delete-btn" src="../static/images/delete.jpeg" th:src="@{images/delete.jpeg}" alt="Delete" />
            </a>

        </td>
    </tr>
</table>
<form method="post" action="type.html" th:action="@{/addType}">
    <div>
        <label for="typeName">
            <strong>Type:</strong>
        </label>
        <input type="text" name="typeName" id="typeName" placeholder="Type name" />
    </div>

    <div class="buttonbar">
        <button type="submit" id="addType">Add Animal Type</button>
    </div>
</form>
</body>
</html>
