<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="user" type="com.theIronYard.entity.User"*/-->
<!--/*@thymesVar id="users" type="java.util.ArrayList<User>"*/-->

<head>
    <title>User List</title>
    <link th:href="@{css/styles.css}" href="../static/css/styles.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<h1>Animal Shelter</h1>

<nav>
    <ul class="nav">
        <li><a href="list.html" th:href="@{/}">List Animals</a></li>
        <li><a href="addAnimal.html" th:href="@{addAnimal}">Add an Animal</a></li>
        <li><a href="type.html" th:href="@{type}">Manage Animal Types</a></li>
        <li><a href="breed.html" th:href="@{breed}">Manage Animal Breeds</a></li>
        <li><a th:href="@{/login}" href="login.html" >Login</a></li>
        <li><a th:href="@{/logout}" href="login.html" >Logout</a></li>
        <li><a th:href="@{/registration}" href="registration.html" >Add a User</a></li>
        <li><a th:href="@{/users}" href="users.html" >List Users</a></li>
    </ul>
</nav>
<!--/* greeting */-->

<h2>List Users</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
    </tr>

    <tr th:each="user : ${users}">
        <td>
            <a href="registration.html" th:href="@{/editUser(id=${user.id})}" th:text="${user.name}">Jimmy Snooka</a>
        </td>
        <td th:text="${user.email}">
            jSnooka@somwhere.com
        </td>
        <td>
            <a href="users.html" th:href="@{/deleteUser(id=${user.id})}">
                <img class="delete-btn" th:src="@{images/delete.jpeg}" src="../static/images/delete.jpeg" alt="Delete" />
            </a>
        </td>
    </tr>
</table>
</body>
</html>